$base-font-size: 16px;

/* RGB */
$white: rgba(241, 255, 231, 1);
$light-blue: rgba(68, 114, 202, 1);
$blue-grey: rgba(86, 102, 107, 1);
$dark-blue: rgba(43, 45, 66, 1);
$soft-red: rgba(229, 75, 75, 1);

/* Coolors Exported Palette - coolors.co/afd5aa-f0f2ef-5c5346-a69f98-8c6057 */
/* RGB */
$color1: rgba(175, 213, 170, 1);
$antiFlash: rgba(240, 242, 239, 1);
$color3: rgba(92, 83, 70, 1);
$color4: rgba(166, 159, 152, 1);
$color5: rgba(140, 96, 87, 1);

$background-image: url(/public/images/header.jpg) no-repeat;

$base-colors: (
  "primary": $white,
  "accent": $light-blue,
  "secondary": $blue-grey,
  "foreground": $dark-blue,
  "background": $soft-red,
  "layer0white": $antiFlash
);

/* Coolors Exported Palette - coolors.co/f1ffe7-4472ca-56666b-2b2d42-e54b4b */

@function base-color($key: "primary") {
  @return map-get($base-colors, $key);
}

$body-background-color-primary-tinted: base-color("layer0white");

html {
  font-family: "Archivo Black", sans-serif;
  color: base-color("layer0white");
  scroll-behavior: smooth;
}

nav-bar {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}

.menuG {
  display: flex;
  float: right;
}

.menuS {
  display: flex;
  float: left;
}

.mItem {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.mItem > a:link {
  text-decoration: none;
}

.mItem > a:visited {
  color: base-color("primary");
}

.mItem > a:active {
  text-decoration: none;
}

header {
  background: linear-gradient(180deg, rgba(71,71,71,0.7567401960784313) 0%, rgba(0,29,121,0.7539390756302521) 100%), $background-image;
  
  background-size: cover;
  background-position-y: -240px;
  min-width: 800px;
  padding-left: 200px;
  padding-right: 200px;
  height: 400px;
}

.landing {
  padding-top: 120px;
  padding-bottom: 120px;
  
}

.titulo {
  font-family: "Archivo Black", sans-serif;
  font-size: 50px;
  font-weight: 800;
}

.corpo {
  font-family: "Judson", serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

body {
  margin: 0;
  background-color: $body-background-color-primary-tinted;
}

.wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 800px;
  padding-top: 50px;
  background-color: base-color("secondary");
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid > .li-text-12 {
  grid-column: span 12;
  margin-bottom: 20px;
}

.grid > .li-img-3 {
  grid-column: span 3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.grid > .li-img-4 {
  grid-column: span 4;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
