<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Silver Code</title>
</head>

<body>
  <header>
    <div class="header">
      <nav-bar>
        <div class="menuG">
          <div class="mItem"><a href="#Bio">Bio</a></div>
          <div class="mItem br">|</div>
          <div class="mItem"><a href="#Projects">Projects</a></div>
          <div class="mItem br">|</div>
          <div class="mItem"><a href="#Hobbies">Hobbies</a></div>
        </div>
        <div class="menuS">
          <div class="mItem"><a href="#Bio">Bio</a></div>
          <div class="mItem br">|</div>
          <div class="mItem"><a href="#Projects">Projects</a></div>
          <div class="mItem br">|</div>
          <div class="mItem"><a href="#Hobbies">Hobbies</a></div>
        </div>
      </nav-bar>
      <div class="landing">
        <div class="titulo li-titulo-12 text-center">Silver Code</div>
        <div class="corpo li-corpo-12 text-center">Welcome to my Humble home of coding and my Portifolio.</div>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <div class="bio" id="Bio">
      <div class="content">
        <div class="grid">
          <div class="li-text-12 text-center">My name is Rafael, I'm brazillian and passionate for technology. When I
            first started programming at my 14 years using python for scripting my blender scenes. </div>
          <div class="li-img-4 text-center">Robotics Work</div>
          <div class="li-img-4 text-center">Javascript</div>
          <div class="li-img-4 text-center">SAP</div>
        </div>
      </div>
    </div>
    <div class="projects" id="Projects">
      <div class="content">
        <div class="grid">
          <div class="li-text-12 text-center ">I have some projects that are used for studying and skill improving. They
            haven't been posted on github entirely but you can access the documentation.</div>
          <div class="li-img-3 text-center">UE4</div>
          <div class="li-img-3 text-center">JSC</div>
          <div class="li-img-3 text-center">Blender</div>
          <div class="li-img-3 text-center">Python AI</div>
        </div>
      </div>
    </div>
    <div class="hobbies" id="Hobbies">
      <div class="content">
        <div class="grid">
          <div class="li-text-12 text-center">Technology maybe is my highest passion, but surely not the only one. I
            love play games (crack them, understand how they work on code and stuff), drawing(nothing impressive though
            but it definetively changes the focus), playing guitar and quite some other stuff.</div>
          <div class="li-img-4 text-center">Stream LInk</div>
          <div class="li-img-4 text-center">DeviantArt link</div>
          <div class="li-img-4 text-center">Guitar play</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>